<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfotest.demo.mapper.HallowMapper">

    <select id="qryParamConfigByParanId" resultType="com.asiainfotest.demo.entity.TdParamConfig">
        select
            param_id as paramId,
            param_name as paramName,
            param_value as paramValue,
            param_desc as paramDesc,
            state as state,
            remark as remark,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
        from td_param_config where param_id = #{paramId} and state='enabled'
            limit 0,1
    </select>

</mapper>
